<header class="site-header">
	<div class="container">
		<div class="header-content">
			<div class="title-with-icon">
				<img src="{{ "/assets/icons/icon.webp" | relative_url }}" alt="Allegedly News Icon" class="site-icon">
				<div class="title-text">
					<a href="/" class="site-title">{{ site.title }}</a>
					<p class="site-tagline">Your Daily Download Of Misinformation</p>
				</div>
			</div>
		</div>
		<nav class="site-nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="https://x.com/AllegedlyNewsHq">Twitter</a></li>
				<li><a href="/contribute/">Contribute</a></li>
			</ul>
		</nav>
	</div>
</header>
