<header class="site-header">
	<div class="container">
		<div class="header-content">
			<div class="title-with-icon">
				<img src="{{ "/assets/icons/allegedlyicontrans.png" | relative_url }}" alt="Allegedly News Icon" class="site-icon">
				<div class="title-text">
					<a href="/" class="site-title">{{ site.title }}</a>
					<p class="site-tagline">Mostly news, entirely satire</p>
				</div>
			</div>
		</div>
		<nav class="site-nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/contribue/">contribute</a></li>
			</ul>
		</nav>
	</div>
</header>
